<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <script>
        function loadWelcomeHere() {
            fetch('welcomehere.html')
                .then(response => response.text())
                .then(data => {
                    document.getElementById('content').innerHTML = data;
                });
        }
    </script>
</head>
<body>
    <h2>Go to login page</h2>
    <button onclick="loadWelcomeHere()">welcomehere</button>
    <div id="content"></div>
</body>
</html>


<!-- <!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>I am creating login page here</h1> -->
    <!-- <form action="{{ url_for('login') }}" method="post"></form>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
    <input type="submit" value="login"> -->


<!--
    <form action="{{ url_for('login') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required><br><br>
        <input type="submit" value="Login">
    </form> -->
<!-- </body>

</html> -->